                <form id="loginform" (ngSubmit)="onSubmit()">
                
                <label for="userid">UserId</label>
                <input type="text" class="form-control" id="userid" required name="userid" tabindex="1" [(ngModel)]="userid" placeholder="UserId">
              
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required name="password" tabindex="1" [(ngModel)]="password" placeholder="Password">
              
                <button tabindex="1" id="login-submit" type="submit" class="btn btn-success">Sign in</button>
                       
                <a class="link-forgot-password" tabindex="1" routerLink="/forgot-password">Forgot password?</a>
                </form>