  #menu-outer {
    /*height: 84px;*/
    /*background: url(images/bar-bg.jpg) repeat-x;*/
    width: 100%;
    font-size: 0;
    /*line-height: 50px;*/
    padding: 0;
    background: #2f94a1;
    color: #ffffff;
  }
  
  #menu-outer .table ul#horizontal-list {
    /* min-width: 696px; */
    /* width: 100%; */
    list-style: none;
    padding: 20px 0 20px 0;
    text-align: center;
  }

  #menu-outer .table ul#horizontal-list li {
    display: inline-flex;
    /* margin: 0 auto 0 auto; */
    
    /* margin: 0 0 0 50px; */
    padding: 0 0 0 5%;
    text-align: center;
  }

  #menu-outer .table ul#horizontal-list li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    
  }

  #menu-outer #copyright small {
    color: black;
    float: right;
    font-size: 12px;
    margin: 0 10px;
  }