  #container {
    display: block;
    width: 100%;
    /* max-width: 1345px; */
    margin: 0 0;
    padding: 0 0;
    background: #ffffff;
  }
  
  @media only screen and (max-width:1345px) {
    #container {
        width: 1345px;
        /* margin: 0 3%; */
    }
  }