#logoutform #searchform {
    margin: 0px 0 5px 10px;
    text-align: right;
}

#search {
    line-height: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.85);
    font-size: 13px;
    display: inline-block;
    width: 216px;
    height: 32px;
    margin: 10px 8px 10px 0;
    padding: 0 10px;
    /* background: #f3f6f8; */
    background: #d6d9dd;
    /* border: 1px solid #b3b6b9; */
    /* border: 1px solid #d6d9dd; */
    /* border-radius: 2px; */
}

#logout-submit {
    line-height: 24px;
    /* color: #fff; */
    color: #d6d9dd;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 10px 0 0;
    padding: 0 20px;
    background-color: transparent;
    /* border: 1px solid #fff; */
    /* border: 1px solid d6d9dd ; */
    /* border-radius: 2px; */
}

.header {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    background: #2f94a1;
    color: #ffffff;
}

.header #login #searchform {
    width: 30%;
    float: left;
}

.header #login #logout {
    width: 70%;
    float: right;
}

.header #login {
    width: 90%;
    float: right;
}

#logout-submit {
    width: 10%;
    float: right;
    /*margin: 0 10px 0 0;*/
}

/* .header #login #searchform {
    width: 50%;
    float: right;
}

.header #login #logout {
    width: 50%;
    float: right;
} */

  #logo {
    font-family: 'AR CENA', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /*color: #010000;*/
    margin: 10px 0 5px 10px;
    padding: 0;
    display: block;
    width: 90px;
    /* color: white; */
    color: #d6d9dd;
    float: left;
  }

  #logo a {
    text-decoration: none;
    /* color: white; */
    color: #d6d9dd;
  }
